<!doctype html>
<title>Card Detail: {{card.nickname}}</title>
<p><a href='/cards/'>Back to all cards</a></p>
<table>
    <tr>
        <th>Reference</th>
        <th>Nickname</th>
        <th>Expiry</th>
        <th>Status</th>
    </tr>    
    <tr>
        <td>{{ card.reference }}</td>
        <td>{{ card.nickname }}</td>
        <td>{{ card.expiry }}</td>
        <td>{{ card.status }}</td>
    </tr> 
</table>
</br>
<p><a href='/card/{{card.reference}}'>Journeys</a> Refunds</p>
</br>
<table>
    <tr>
        <th>Date</th>
        <th>From</th>
        <th>To</th>
        <th>Fare</th>
    </tr>    
    {% for refund in refunds %}
    <tr>
        <td>{{ refunds[refund].refund_date.strftime('%d/%m/%Y') }}</td>
        <td>{{ refunds[refund].refund_from }}</td>
        <td>{{ refunds[refund].refund_to }}</td>
        <td>{{ format_fare (refunds[refund].refund_fare) }}</td>
        <td><a href='/card/{{card.reference}}/refund/{{refunds[refund].refund_id}}/application'>Apply for Refund</a></td>
    </tr>       
    {% endfor %}
</table>    